.break-line {
  margin: 0 -24px;
  height: 1px;
  background-color: #ddd;
  width: calc(100% + 48px);
}

.close-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  color: #999;
  white-space: nowrap;
  & i {
    margin-top: 2px;
  }
}

.btn {
  width: 200px;
  height: 48px;
}
.btn-disable {
  cursor: no-drop;
  background-color: #888;

  &:hover {
    background-color: #888 !important;
    opacity: 0.8;
  }
}

// .modal-fall-risk :global {
//   .ant-modal-body {
//     max-height: calc(100vh - 345px) !important;
//     overflow-x: hidden !important;
//     width: 100% !important;
//     overflow-y: auto !important;
//   }
// }
// .modal-ulcer-risk :global {
//   .ant-modal-body {
//     max-height: calc(100vh - 345px) !important;
//     overflow-x: hidden !important;
//     width: 100% !important;
//     overflow-y: auto !important;
//   }
// }

.modal {
  :global {
    .ant-modal-body {
      margin: 0 -20px;
      padding: 0 20px;
      overflow-y: auto;
      overflow-x: hidden !important;
      max-height: calc(100vh - 345px);
    }
  }
}
