.root {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-list {
  display: grid;
  gap: 16px;
  &.sm {
    grid-template-columns: repeat(1, 1fr);
  }
  &.md {
    grid-template-columns: repeat(2, 1fr);
  }
  &.lg {
    grid-template-columns: repeat(3, 1fr);
  }
  &.xl {
    grid-template-columns: repeat(4, 1fr);
  }
  &.xxl {
    grid-template-columns: repeat(4, 1fr);
  }
}
